<md-list class="md-dense" flex>
    <md-subheader class="md-no-sticky">
        <span data-translate>course.title</span>
    </md-subheader>
    <md-list-item class="md-2-line" ng-repeat="item in vm.items" ng-click="vm.goToItem(item.id)">
        <ng-letter-avatar dynamic="true" classes="md-avatar" shape="round"
                          data="{{item.name}}"></ng-letter-avatar>
        <div class="md-list-item-text" layout="column">
            <h4>{{item.name}}</h4>
            <p>{{item.type}}</p>
        </div>
    </md-list-item>
</md-list>
