<md-edit-dialog>
    <div layout="column" class="md-content">
        <div ng-if="size === 'large'" class="md-title">{{title || 'Edit'}}</div>
        <form name="editDialog" layout="column" ng-submit="submit(model)">
            <md-input-container md-no-float>
                <input name="input" ng-model="vm.model" md-autofocus placeholder="{{vm.placeholder}}"
                       ng-attr-type="{{vm.getType() || 'text'}}">
                <div ng-messages="editDialog.input.$error">
                    <div ng-repeat="(key, message) in messages" ng-message="key">{{message}}</div>
                </div>
            </md-input-container>
        </form>
    </div>
    <div ng-if="size === 'large'" layout="row" layout-align="end" class="md-actions">
        <md-button class="md-primary" ng-click="vm.dismiss()">{{vm.cancel}}</md-button>
        <md-button class="md-primary" ng-click="submit()">{{vm.ok}}</md-button>
    </div>
</md-edit-dialog>
