.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
docker/sonar/config/data
docker/sonar/config/plugins
docker/sonar/config/conf

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/