<!doctype html>
<html lang="en" class="no-js" ng-app="smartApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title data-translate="global.title">Smart Learning</title>
    <meta name="description" content="">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css content/css/vendor-app.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="app/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="app/bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="app/bower_components/angular-material-data-table/dist/md-data-table.css">
    <link rel="stylesheet" href="app/bower_components/mdPickers/dist/mdPickers.min.css">
    <link rel="stylesheet" href="app/bower_components/textAngular/dist/textAngular.css">
    <!-- endinject -->
    <!-- endbuild -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- build:css content/css/main-app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="content/css/angular-material-customize.css">
    <link rel="stylesheet" href="content/css/loading-bar.css">
    <link rel="stylesheet" href="content/css/main.css">
    <link rel="stylesheet" href="content/css/splash.css">
    <!-- endinject -->
    <!-- endbuild -->
</head>

<body ng-controller="AppController as vm" ng-cloak>

<div ng-cloak>
    <md-content class="splash-screen md-primary-bg">
        <div class="loader">
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--text"></div>
        </div>
    </md-content>
</div>

<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>

    <md-content layout-margin>
        <md-list>
            <md-list-item ng-click="vm.changePage(item)" ng-repeat="item in vm.pages">
                <span data-translate>{{item.title}}</span>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>

<form name="body" layout="column" style="height: 100vh;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button aria-label="Go Back">
                My Courses
            </md-button>
            <span flex></span>
            <md-button class="md-raised" aria-label="Learn More">
                Result
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Favorite">
                <md-icon>favorite</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" layout-align="space-around center">
        <h2 class="md-padding">Content 3</h2>
        <span flex></span>
        <md-button class="md-raised" ng-click="vm.goTo('course.list')">
            <md-icon>list</md-icon>
            <span data-translate>global.menu.courses</span>
        </md-button>
    </div>
    <div layout="row" flex>
        <div hide-xs hide-sm>
            <md-list>
                <md-list-item ng-click="vm.changePage(item)" ng-repeat="item in vm.pages">
                    <span data-translate>{{item.title}}</span>
                </md-list-item>
            </md-list>
        </div>
        <div layout="column" flex>
            <md-toolbar md-scroll-shrink layout="row" layout-align="center center">
                <div class="md-toolbar-tools">{{vm.current.title}}</div>
                <span flex></span>
                <md-button hide-gt-sm class="md-icon-button" ng-click="vm.openMenu()">
                    <md-icon>menu</md-icon>
                </md-button>
            </md-toolbar>
            <div flex layout="row" class="scroll-wrapper" ui-view="content"></div>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding>
        <span>All rights reserved...</span>
    </div>
</form>

<!-- begin Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-101866348-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- end Google Analytics -->

<!-- build:js app/vendor-app.js -->
<!-- bower:js -->
<script src="app/bower_components/jquery/dist/jquery.js"></script>
<script src="app/bower_components/moment/moment.js"></script>
<script src="app/bower_components/angular/angular.js"></script>
<script src="app/bower_components/angular-translate/angular-translate.js"></script>
<script src="app/bower_components/messageformat/messageformat.js"></script>
<script src="app/bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
<script src="app/bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
<script src="app/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="app/bower_components/angular-animate/angular-animate.js"></script>
<script src="app/bower_components/angular-aria/angular-aria.js"></script>
<script src="app/bower_components/angular-cache-buster/angular-cache-buster.js"></script>
<script src="app/bower_components/angular-clipboard/angular-clipboard.js"></script>
<script src="app/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="app/bower_components/angular-lazy-img/release/angular-lazy-img.js"></script>
<script src="app/bower_components/angular-material/angular-material.js"></script>
<script src="app/bower_components/angular-messages/angular-messages.js"></script>
<script src="app/bower_components/angular-moment/angular-moment.js"></script>
<script src="app/bower_components/angular-resource/angular-resource.js"></script>
<script src="app/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="app/bower_components/angular-timeago/dist/angular-timeago.js"></script>
<script src="app/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="app/bower_components/rangy/rangy-core.js"></script>
<script src="app/bower_components/angularjs-camelCase-human/camelcase-browser.js"></script>
<script src="app/bower_components/json3/lib/json3.js"></script>
<script src="app/bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="app/bower_components/angular-material-data-table/dist/md-data-table.js"></script>
<script src="app/bower_components/mdPickers/dist/mdPickers.min.js"></script>
<script src="app/bower_components/ng-device-detector/ng-device-detector.js"></script>
<script src="app/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="app/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="app/bower_components/ng-letter-avatar/ngletteravatar.js"></script>
<script src="app/bower_components/ngstorage/ngStorage.js"></script>
<script src="app/bower_components/oclazyload/dist/ocLazyLoad.js"></script>
<script src="app/bower_components/rangy/rangy-classapplier.js"></script>
<script src="app/bower_components/rangy/rangy-highlighter.js"></script>
<script src="app/bower_components/rangy/rangy-selectionsaverestore.js"></script>
<script src="app/bower_components/rangy/rangy-serializer.js"></script>
<script src="app/bower_components/rangy/rangy-textrange.js"></script>
<script src="app/bower_components/re-tree/re-tree.js"></script>
<script src="app/bower_components/textAngular/dist/textAngular-sanitize.js"></script>
<script src="app/bower_components/textAngular/dist/textAngular.js"></script>
<script src="app/bower_components/textAngular/dist/textAngularSetup.js"></script>
<script src="app/bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
<!-- endinject -->
<!-- endbuild -->

<!-- build:js app/main-app.js  -->
<!-- inject:js -->
<script src="app/AppModule.js"></script>
<script src="app/blocks/BlocksModule.js"></script>
<script src="app/contents/ContentModule.js"></script>
<script src="app/courses/CourseModule.js"></script>
<script src="app/home/HomeModule.js"></script>
<script src="app/layouts/LayoutModule.js"></script>
<script src="app/questions/QuestionModule.js"></script>
<script src="app/blocks/BlocksConstants.js"></script>
<script src="app/blocks/language/LanguageConstants.js"></script>
<script src="app/blocks/util/directives/TableConstants.js"></script>
<script src="app/layouts/LayoutConstants.js"></script>
<script src="app/blocks/config/RouterHelperProvider.js"></script>
<script src="app/blocks/util/directives/AlertProvider.js"></script>
<script src="app/AppConfig.js"></script>
<script src="app/blocks/config/AlertConfig.js"></script>
<script src="app/blocks/config/CompileConfig.js"></script>
<script src="app/blocks/config/HttpConfig.js"></script>
<script src="app/blocks/config/LocalStorageConfig.js"></script>
<script src="app/blocks/config/TranslationConfig.js"></script>
<script src="app/AppRoute.js"></script>
<script src="app/contents/ContentRoute.js"></script>
<script src="app/courses/CourseRoute.js"></script>
<script src="app/courses/detail/CourseDetailRoute.js"></script>
<script src="app/courses/list/CourseListRoute.js"></script>
<script src="app/home/HomeRoute.js"></script>
<script src="app/layouts/error/ErrorRoute.js"></script>
<script src="app/questions/detail/QuestionDetailRoute.js"></script>
<script src="app/questions/list/QuestionListRoute.js"></script>
<script src="app/questions/QuestionRoute.js"></script>
<script src="app/blocks/util/services/Base64UtilService.js"></script>
<script src="app/blocks/util/services/CrudUtilsService.js"></script>
<script src="app/blocks/util/services/CustomEditDialogService.js"></script>
<script src="app/blocks/util/services/CustomTableUtilService.js"></script>
<script src="app/blocks/util/services/DataUtilsService.js"></script>
<script src="app/blocks/util/services/DateUtilsService.js"></script>
<script src="app/blocks/util/services/HtmlTagUtilService.js"></script>
<script src="app/blocks/util/services/ResponseUtilService.js"></script>
<script src="app/blocks/util/services/RichTextEditDialogService.js"></script>
<script src="app/blocks/util/services/SidenavUtilService.js"></script>
<script src="app/blocks/util/services/StorageUtilService.js"></script>
<script src="app/blocks/util/services/StringUtilService.js"></script>
<script src="app/blocks/config/TranslationStorageFactory.js"></script>
<script src="app/blocks/language/LanguageFactory.js"></script>
<script src="app/GoogleApiFactory.js"></script>
<script src="app/blocks/language/LanguageFilter.js"></script>
<script src="app/blocks/util/filters/ButtonsFilter.js"></script>
<script src="app/blocks/util/filters/IconFilter.js"></script>
<script src="app/blocks/util/filters/LocaleOrderByFilter.js"></script>
<script src="app/blocks/util/filters/ObjectFilter.js"></script>
<script src="app/blocks/util/filters/StringFilter.js"></script>
<script src="app/blocks/util/directives/AuthorityDirective.js"></script>
<script src="app/blocks/util/directives/AutocompleteInfiniteScrollDirective.js"></script>
<script src="app/blocks/util/directives/CompileDirective.js"></script>
<script src="app/blocks/util/directives/CustomTableDirective.js"></script>
<script src="app/blocks/util/directives/DatetimeDirective.js"></script>
<script src="app/blocks/util/directives/DatetimePickerDirective.js"></script>
<script src="app/blocks/util/directives/EnterKeyDirective.js"></script>
<script src="app/blocks/util/directives/EqualToDirective.js"></script>
<script src="app/blocks/util/directives/FixedHeaderDirective.js"></script>
<script src="app/blocks/util/directives/MaxBytesDirective.js"></script>
<script src="app/blocks/util/directives/MinBytesDirective.js"></script>
<script src="app/blocks/util/directives/SplashScreenDirective.js"></script>
<script src="app/blocks/util/directives/TextAngularDirective.js"></script>
<script src="app/blocks/util/directives/TextAngularMaxLengthDirective.js"></script>
<script src="app/blocks/util/directives/AlertComponent.js"></script>
<script src="app/blocks/interceptor/ErrorHandlerInterceptor.js"></script>
<script src="app/blocks/interceptor/NotificationInterceptor.js"></script>
<script src="app/blocks/handlers/StateHandler.js"></script>
<script src="app/blocks/handlers/TranslationHandler.js"></script>
<script src="app/AppController.js"></script>
<script src="app/blocks/language/LanguageController.js"></script>
<script src="app/blocks/util/directives/DynamicController.js"></script>
<script src="app/blocks/util/directives/table-input/NumericInputController.js"></script>
<script src="app/blocks/util/directives/table-input/TableEnumInputController.js"></script>
<script src="app/blocks/util/directives/table-input/TableInputController.js"></script>
<script src="app/contents/ContentController.js"></script>
<script src="app/courses/CourseController.js"></script>
<script src="app/courses/detail/CourseDetailController.js"></script>
<script src="app/courses/list/CourseListController.js"></script>
<script src="app/home/HomeController.js"></script>
<script src="app/layouts/sidebar/SidebarController.js"></script>
<script src="app/questions/detail/QuestionDetailController.js"></script>
<script src="app/questions/list/QuestionListController.js"></script>
<script src="app/questions/QuestionController.js"></script>
<script src="app/AppConstant.js"></script>
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
