<md-dialog flex="50">
    <form ng-cloak>
        <md-content>
            <div class="md-dialog-container" flex layout-fill id="tocDialog">
                <md-dialog flex>
                    <md-toolbar md-scroll-shrink>
                        <div class="md-toolbar-tools">Course contents</div>
                    </md-toolbar>

                    <md-content layout="column" style="height: 600px;" md-theme="altTheme">

                        <section>
                            <md-subheader class="md-warn">Contents (6)</md-subheader>
                            <md-list layout="column" layout-padding>
                                <md-list-item class="md-3-line">

                                    <div class="md-list-item-text">
                                        <h3>What is a pronoun?</h3>


                                    </div>
                                </md-list-item>
                                <md-list-item class="md-3-line">

                                    <div class="md-list-item-text">
                                        <h3>Past participles in English</h3>


                                    </div>
                                </md-list-item>
                                <md-list-item class="md-3-line">

                                    <div class="md-list-item-text">
                                        <h3>Nouns vs verbs</h3>


                                    </div>
                                </md-list-item>
                                <md-list-item class="md-3-line">

                                    <div class="md-list-item-text">
                                        <h3>Nouns vs verbs</h3>


                                    </div>
                                </md-list-item>
                                <md-list-item class="md-3-line">

                                    <div class="md-list-item-text">
                                        <h3>Nouns vs verbs</h3>


                                    </div>
                                </md-list-item>
                                <md-list-item class="md-3-line">

                                    <div class="md-list-item-text">
                                        <h3>Nouns vs verbs</h3>


                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>

                        <section>
                            <md-subheader class="md-warn">Exams (1)</md-subheader>
                            <md-list layout="column" layout-padding>
                                <md-list-item class="md-3-line">

                                    <div class="md-list-item-text">
                                        <h3>Final Exam of the course</h3>


                                    </div>
                                </md-list-item>

                            </md-list>
                        </section>

                    </md-content>

                </md-dialog>
            </div>
        </md-content>
    </form>
</md-dialog>