<div layout="row" layout-align="center center" flex="100">
    <label data-translate data-ng-if="vm.label">{{vm.label}}</label>

    <md-input-container flex="75" layout="row">
        <md-datepicker aria-label="date"
                       ng-if="vm.showDate"
                       ng-model="vm.dateValue"
                       md-min-date="vm.minDate"
                       md-max-date="vm.maxDate"
                       md-open-on-focus></md-datepicker>
    </md-input-container>

    <md-input-container flex="20" layout="row" data-ng-if="vm.showTime">
        <input aria-label="date" size='5' ui-timepicker='timePickerOptions'
               ng-model='vm.timeValue'>
    </md-input-container>

</div>
