<md-toolbar layout="row" class="md-accent md-hue-3">
    <div class="md-toolbar-tools">
        <span flex></span>
        <h2>
            <span data-translate>{{toState.data.pageTitle}}</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>
<alert></alert>
<form name="form" layout="column" flex novalidate>
    <md-card-content layout="column">
        <div layout-gt-xs="row" layout="column">
            <md-input-container flex-gt-xs>
                <label data-translate>password.new.title</label>
                <input ng-required="true"
                       type="password"
                       md-maxlength="100"
                       ng-minlength="4"
                       name="password"
                       md-autofocus
                       ng-model="vm.model.password">
                <div ng-messages="form.password.$error">
                    <div ng-message-exp="['required', 'minlength']">
                        <span data-translate translate-value-length="4">global.messages.error.min</span>
                    </div>
                    <div ng-message="md-maxlength">
                        <span data-translate translate-value-length="100">global.messages.error.max</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container flex-gt-xs>
                <label data-translate>password.retype.title</label>
                <input ng-required="true"
                       type="password"
                       md-maxlength="100"
                       ng-minlength="4"
                       name="confirmPassword"
                       ng-model="vm.model.confirmPassword">
                <div ng-messages="form.confirmPassword.$error">
                    <div ng-message-exp="['required', 'minlength']">
                        <span data-translate translate-value-length="4">global.messages.error.min</span>
                    </div>
                    <div ng-message="md-maxlength">
                        <span data-translate translate-value-length="100">global.messages.error.max</span>
                    </div>
                </div>
            </md-input-container>
        </div>
        <password-strength-bar password-to-check="vm.model.password"
                               text="password.strength"></password-strength-bar>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="vm.changePassword()" ng-disabled="form.$invalid" type="submit"
                   class="md-primary md-raised">
            <md-icon>keyboard</md-icon>
            <label data-translate>global.buttons.save</label>
        </md-button>
        <span flex></span>
    </md-card-actions>
</form>
