<div layout="row" flex layout-align="space-around center" layout-padding>
    <md-button ng-click="vm.openSideNavMenu()" hide-gt-sm>
        <md-icon>menu</md-icon>
    </md-button>
    <div layout-margin>
        <a href="#"><img src="/content/images/logo.png" height="100"></a>
    </div>
    <span flex></span>
    <div layout="row" hide-xs hide-sm>
        <md-button data-menu-item="register" ng-click="vm.register()" ng-if="!vm.isAuthenticated()">
            <md-icon>person_outline</md-icon>
            <label data-translate>global.menu.account.register</label>
        </md-button>

        <md-button data-menu-item="login" ng-click="vm.login()" ng-if="!vm.isAuthenticated()">
            <md-icon>person_outline</md-icon>
            <label data-translate>global.menu.account.login</label>
        </md-button>

        <md-menu ng-controller="LanguageController as vmLang">
            <md-button md-menu-origin ng-click="$mdMenu.open($event)">
                <md-icon>language</md-icon>
                <label data-translate>global.menu.language</label>
            </md-button>

            <md-menu-content width="4">
                <md-menu-item ng-repeat="language in vmLang.languages">
                    <md-button ng-click="vmLang.changeLanguage(language)">
                        <label>{{language | findLanguageFromKey}}</label>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-menu ng-if="vm.isAuthenticated()">
            <md-button md-menu-origin data-menu-item="person" ng-click="$mdMenu.open($event)">
                <md-icon>person</md-icon>
                <span>{{vm.account.username | capitalize}}</span>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="vm.settings()">
                        <md-icon>settings</md-icon>
                        <label data-translate>global.menu.account.settings</label>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="vm.logout()">
                        <md-icon>power</md-icon>
                        <label data-translate>global.menu.account.logout</label>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>

<md-content md-theme="navigation">
    <md-tabs ng-if="vm.isAuthenticated()" md-stretch-tabs md-border-bottom="true"
             md-no-select-click="true" class="md-primary md-hue-3" md-dynamic-height>

        <md-tab ng-repeat="value in vm.menus" ng-disabled="vm.checkForFunction(value.disabled)"
                ng-click="vm.headerClick(value)" md-active="vm.isCurrentPage(value.state, true)">
            <md-tab-label>
                <md-icon ng-if="value.icon.indexOf(' ') > -1" md-font-icon="{{value.icon}}"></md-icon>
                <md-icon ng-if="value.icon.indexOf(' ') == -1">{{value.icon}}</md-icon>
                <span data-translate>{{value.text}}</span>
            </md-tab-label>
            <md-tab-body>
                <md-tabs md-stretch-tabs md-border-bottom="true" ng-if="value.items.length"
                         md-no-select-click="true" md-dynamic-height class="md-accent hue-2">
                    <md-tab flex-order="{{menu.order}}" ng-repeat="menu in value.items"
                            md-active="vm.isCurrentPage(menu.state, false)"
                            ng-disabled="vm.checkForFunction(menu.disabled)"
                            ng-click="vm.state(menu.state)">
                        <md-tab-label>
                            <md-icon ng-if="menu.icon.indexOf(' ') > -1" md-font-icon="{{menu.icon}}"></md-icon>
                            <md-icon ng-if="menu.icon.indexOf(' ') == -1">{{menu.icon}}</md-icon>
                            <span data-translate>{{menu.text}}</span>
                        </md-tab-label>
                    </md-tab>
                </md-tabs>
            </md-tab-body>
        </md-tab>

    </md-tabs>
</md-content>
