<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools" data-translate>global.menu.title</h1>
</md-toolbar>
<md-content layout="column" class="sidenav-menu">
    <div layout="row" layout-align="start center" flex>
        <md-icon>business</md-icon>
        <md-button href="/merchant-portal" target="_self">
            <label data-translate>global.menu.merchant_portal.button</label>
            <md-tooltip>
                <span data-translate>global.menu.merchant_portal.tooltip</span>
            </md-tooltip>
        </md-button>
        <span flex></span>
    </div>
    <div layout="row" layout-align="start center" flex ng-if="!vm.isAuthenticated()">
        <md-icon>person_outline</md-icon>
        <md-button ng-click="vm.login()">
            <label data-translate>global.menu.account.login</label>
        </md-button>
        <span flex></span>
    </div>
    <div layout="row" layout-align="start center" flex has-authority="ROLE_CTA">
        <md-icon>store_mall_directory</md-icon>
        <md-menu>
            <div layout="row" layout-align="start center" flex>
                <md-button md-menu-origin ng-click="$mdOpenMenu($event)" >
                    <span ng-if="vm.selectedMerchant">{{vm.selectedMerchant.login | capitalize}}</span>
                    <span ng-if="!vm.selectedMerchant" data-translate>global.menu.merchant.select</span>
                </md-button>
                <md-button class="md-icon-button" ng-if="vm.selectedMerchant" ng-click="vm.clearMerchant()">
                    <md-icon>clear</md-icon>
                </md-button>
                <span flex></span>
            </div>
            <md-menu-content width="4">
                <form name="searchMerchantForm" layout="column">
                    <md-input-container class="md-margin" md-no-float>
                        <input type="text" placeholder="{{'global.menu.merchant.search' | translate}}"
                               ng-model="vm.merchantQuery" ng-change="vm.searchMerchant(vm.merchantQuery)"/>
                    </md-input-container>
                    <md-list flex ng-model="vm.selectedMerchant">
                        <md-list-item class="md-3-line" ng-repeat="merchant in vm.merchants"
                                      ng-model-options="{trackBy: $value.id}"
                                      ng-click="vm.selectMerchant(merchant)" md-padding>
                            <div class="md-avatar">
                                <ng-letter-avatar width="40" height="40" shape="round"
                                                  data="{{merchant.login}}"></ng-letter-avatar>
                            </div>
                            <div class="md-list-item-text" layout="column">
                                <h3>{{merchant.login}}</h3>
                                <h4><strong>{{merchant.firstName}} {{merchant.lastName}}</strong></h4>
                                <p>{{merchant.email}}</p>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </form>
            </md-menu-content>
        </md-menu>
        <span flex></span>
    </div>
    <div layout="row" layout-align="start center" flex>
        <md-icon>language</md-icon>
        <md-menu ng-controller="LanguageController as vm">
            <div layout="row" layout-align="start center" flex>
                <md-button md-menu-origin ng-click="$mdOpenMenu($event)">
                    <label data-translate>global.menu.language</label>
                </md-button>
            </div>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="language in vm.languages">
                    <md-button ng-click="vm.changeLanguage(language)">
                        <label>{{language | findLanguageFromKey}}</label>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <span flex></span>
    </div>
    <div ng-if="vm.isAuthenticated()" layout="row" layout-align="start center" flex>
        <md-icon>person</md-icon>
        <md-menu>
            <div layout="row" layout-align="start center" flex>
                <md-button md-menu-origin ng-click="$mdOpenMenu($event)">
                    <span>{{vm.account.login | capitalize}}</span>
                </md-button>
                <span flex></span>
            </div>
            <md-menu-content width="4">
                <md-menu-item>
                    <div layout="row">
                        <md-button ng-click="vm.logout()">
                            <md-icon>power</md-icon>
                            <label data-translate>global.menu.account.logout</label>
                        </md-button>
                    </div>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <span flex></span>
    </div>
    <div layout="row" layout-align="start center" flex>
        <md-icon>open_in_new</md-icon>
        <md-button href="https://wiki.hepsiburada.net/display/MSD" target="_blank">
            <label data-translate>global.menu.sdw.button</label>
        </md-button>
        <span flex></span>
    </div>
</md-content>
